<div class="navbar navbar-dark bg-dark mb-4">
<h1 class="text-white">Your cocktails list</h1>
<%= link_to 'New Cocktail', new_cocktail_path, class: "navbar-button btn border border-white text-white" %>
</div>
<div class="container">
  <% @cocktails.each do |cocktail| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1551734322-f43b0798585a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title text-center"><%= cocktail.name %></h4>
      <div class="d-flex justify-content-around">
        <%= link_to 'Show', cocktail, class: "btn btn-primary text-decoration-none" %>
        <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-decoration-none" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
